<!-- TODO: Reactive forms to preserve the values! -->
<img *ngIf="loading" src="../../../assets/images/loading.gif" class="loading" alt="Loading..." />
<form *ngIf="!loading" method="post" #form="ngForm" (ngSubmit)="login(form.value)">
    <h2>
        <i class="fas fa-angle-double-right"></i>
        Members Login
    </h2>
    <input type="text" name="username" ngModel placeholder="username" />
    <input type="password" name="password" ngModel placeholder="password" />
    <ul class="links no-bullet">
        <li>
            <a routerLink="/register" class="dark">New account</a>
        </li>
        <li>
            <a routerLink="/lost-password" class="dark">Lost password?</a>
        </li>
    </ul>
    <div class="controls">
        <div class="remember-me">
            <xweb-checkbox checbox-id="remember-me" name="remember-me" label="Keep me signed-in" [checked]="remember">
            </xweb-checkbox>
        </div>
        <div class="sign-in">
            <button type="submit" class="button gray">Login</button>
        </div>
    </div>
</form>
