.item-price {
    display: flex;

    .exchange-item {
        display: flex;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
        font-size: 9px;

        img {
            width: 16px;
            height: 16px;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
