$market-search-background: $gray-light;
$market-search-border: $gray-darkest;

section.search {
    background-color: $market-search-background;
    border: 1px solid $market-search-border;
    text-align: center;
    margin: 0 auto 30px;
    padding: 20px;
    width: 500px;

    h1 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .item-categories,
    .item-text {
        margin: 0 auto;
        width: 250px;
    }

    .item-categories {
        select {
            margin-bottom: 5px;
        }
    }

    .item-text {
        display: flex;

        input {
            flex: 1;
        }

        .action {
            display: flex;
            flex: 0 0 65px;
            align-items: center;
            justify-content: flex-end;
        }
    }
}

section.market {
    display: flex;

    section.last,
    section.free {
        flex: 1;

        h1 {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    section:first-child {
        margin-right: 10px;
    }

    section:last-child {
        margin-left: 10px;
    }

    table {
        width: 100%;
    }
}
