table.rankings {
    margin: 0 auto;

    &.guilds {
        img {
            height: 16px;
            width: 16px;
        }
    }

    &.quest-hitory {
        width: 80%;
    }
}

.rankings-heading {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    width: 100%;
}
