<form class="register-form" autocomplete="off">
    <h1>Registration</h1>

    <!-- Hack for Google Chrome's annoying autocompletion :) -->
    <input style="display:none">
    <input type="password" style="display:none">
    <!-- //Hack -->

    <div class="field">
        <div class="input">
            <input [formControl]="username" [ngClass]="{'empty': username.value === ''}" type="text" maxlength="10"
                   autofocus />
            <label>
                <i class="fas fa-user"></i>
            </label>
            <span class="placeholder">Username</span>
            <span class="hint">{{username.value.length || 0}}/10</span>
        </div>

        <div *ngIf="username.getError('minlength') || username.getError('maxlength')">
            Username should be between <strong>4-10</strong> characters.
        </div>
    </div>

    <div class="field">
        <div class="input">
            <input [formControl]="password" [ngClass]="{'empty': password.value === ''}" type="password"
                   maxlength="10" />
            <label>
                <i class="fas fa-key"></i>
            </label>
            <span class="placeholder">Password</span>
            <span class="hint">{{password.value.length || 0}}/10</span>
        </div>

        <div *ngIf="password.getError('minlength') || password.getError('maxlength')">
            Password should be between <strong>4-10</strong> characters.
        </div>
    </div>

    <div class="field">
        <div class="input">
            <input [formControl]="repeat" [ngClass]="{'empty': repeat.value === ''}" type="password" maxlength="10" />
            <label>
                <i class="fas fa-key"></i>
            </label>
            <span class="placeholder">Repeat password</span>
            <span class="hint">{{repeat.value.length || 0}}/10</span>
        </div>

        <div *ngIf="repeat.getError('minlength') || repeat.getError('maxlength')">
            Password should be between <strong>4-10</strong> characters.
        </div>
    </div>

    <div class="field">
        <div class="input">
            <input [formControl]="email" [ngClass]="{'empty': email.value === ''}" type="email" maxlength="50" />
            <label>
                <i class="fas fa-envelope"></i>
            </label>
            <span class="placeholder">email@example.org</span>
            <span class="hint">{{email.value.length || 0}}/50</span>
        </div>

        <div *ngIf="email.hasError('email')">
            Please enter a valid email address
        </div>
    </div>
    <div class="actions">
        <button>Register</button>
        <a class="highlight">reset</a>
    </div>
</form>
