<nav>
    <div class="background-fade"></div>
    <div id="main-menu" class="main">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/downloads" routerLinkActive="active">Downloads</a>
        <div class="filler"></div>
    </div>
    <div id="sub-menu" class="submenu">
        <a href="#/test">sub</a>
        <i class="fas fa-angle-double-right"></i>
        <a href="#/test">menu</a>
        <i class="fas fa-angle-double-right"></i>
        <a href="#/test">items</a>
    </div>
</nav>
