<section class="character-option reset" *ngVar="Module.conditions | LackingRequirements as Lacking">
    <div class="requirements">
        <strong class="highlight">Minimal Requirements</strong>
        <ul>
            <li *ngFor="let requirement of Lacking">
                <ng-container *ngIf="requirement.condition === 'OfflineCondition'">
                    Online
                </ng-container>
                <ng-container *ngIf="requirement.condition === 'CharacterCondition'">
                    {{requirement.type}} {{requirement.value}}
                </ng-container>
                <i class="fas fa-times highlight red"></i>
            </li>
        </ul>
        <ul>
            <li *ngFor="let requirement of Module.conditions | SatisfiedRequirements">
                <ng-container *ngIf="requirement.condition === 'OfflineCondition'">
                    Offline
                </ng-container>
                <ng-container *ngIf="requirement.condition === 'CharacterCondition'">
                    {{requirement.type}} {{requirement.value}}
                </ng-container>
                <i class="fas fa-check highlight green"></i>
            </li>
        </ul>
    </div>
    <div class="action" *ngVar="Lacking.length > 0 as isDisabled" [ngClass]="{disabled: isDisabled}">
        <div class="text-center">
            <a href="#" class="highlight" (click)="!isDisabled && action()">
                <i class="fas fa-sync-alt"></i>
                Reset
            </a>
        </div>
    </div>
    <div class="benefits text-right">
        <strong class="highlight">What you get?</strong>
        <ul class="right">
            <li><strong>500</strong> stats points</li>
            <li><strong>3</strong> credits</li>
        </ul>
    </div>
</section>
