xweb-guild-mark {
    display: inline-block;

    .row {
        display: flex;

        &:last-child .color {
            border-bottom: 0;
        }
    }

    &.xs .row {
        height: $guild-mark-size;
        width: $guild-mark-size * 8;
        
        .color {
            // Remove borders for XS & SM
            border: 0 !important;
        }
    }

    &.sm .row {
        height: (2 * $guild-mark-size);
        width: (2 * $guild-mark-size) * 8;
        
        .color {
            // Remove borders for XS & SM
            border: 0 !important;
        }
    }

    &.md .row {
        height: (4 * $guild-mark-size);
        width: (4 * $guild-mark-size) * 8;
    }

    &.lg .row {
        height: (5 * $guild-mark-size);
        width: (5 * $guild-mark-size) * 8;
    }

    .color {
        display: block;
        width: 100%;
        height: 100%;

        &:last-child {
            border-right: 0;;
        }
    }

    @each $name, $color in $guild-mark-colors {
        .color-#{$name} {
            background-color: $color;
            border-right: 1px solid #333;
            border-bottom: 1px solid #333;
        }
    }
}
