main {
    width: $max-width;
    background-color: $main-background;
    border-top: 2px solid $main-border-top;
    border-bottom: 2px solid $main-border-bottom;
    position: relative;
    min-height: 200px;
    margin: 0 auto;
    padding: 20px;

    // Fully stretch the ng-component
    display: flex;
    flex-direction: column;

    ng-component {
        display: block;
        flex: 1;
    }

    // Loading indication
    xweb-loading {
        position: relative;
        z-index: 9999;
    }
}
