nav {
    width: $max-width;
    height: $nav-height;
    background-image: url($nav-background);
    background-position: top right;
    margin: 0 auto;
    position: relative;

    .background-fade {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        @include gradient(90deg, $nav-background-fade);
    }

    .main {
        height: ($nav-height / 2);
        line-height: ($nav-height / 2);
        display: flex;
        position: relative;
        z-index: 1;

        a {
            flex: 0 0 $nav-anchor-width;
            width: $nav-anchor-width;
            height: $nav-anchor-height;
            line-height: $nav-anchor-height;
            margin-right: $nav-anchor-spacing;
            border-radius: $nav-anchor-radius $nav-anchor-radius 0 0;
            color: $nav-anchor-color;
            @include gradient(180deg, $nav-anchor-gradient);
            display: block;
            text-align: center;
            font-weight: bold;
            font-size: 10px;
            letter-spacing: 0;

            &:hover,
            &:active,
            &:focus {
                @include gradient(180deg, $nav-anchor-hover-gradient);
            }
        }

        .filler {
            flex: 0 0 auto;
        }
    }

    .submenu {
        height: ($nav-height / 2);
        line-height: ($nav-height / 2);
        position: relative;
        z-index: 1;
        padding: 0 10px;

        a {
            border: 1px solid $submenu-border;
            border-radius: $submenu-radius;
            background-color: $submenu-background;
            color: $submenu-color;
            height: $submenu-anchor-height;
            line-height: $submenu-anchor-height;
            margin: 0px 2px;
            padding: 2px 4px 3px;
            font-size: 11px;
            font-weight: bold;

            &:focus,
            &:active,
            &:hover {
                border-color: $submenu-hover-border;
                background-color: $submenu-hover-background;
                color: $submenu-hover-color;
            }
        }
    }
}
