xweb-status {
    display: inline-block;
    margin-right: 4px;

    span.status {
        display: block;
        border-radius: 100%;
        width: 8px;
        height: 8px;

        &.online {
            background-color: $status-online;
            border: 1px solid darken($status-online, 10%);
        }

        &.offline {
            background-color: $status-offline;
            border: 1px solid darken($status-offline, 10%);
        }
    }
}
