$character-panel-tabs-background: $gray-dark;
$character-panel-tabs-color: $black;

section.character-panel {
    display: flex;
    font-size: 11px;

    .character {
        flex: 0 0 200px;
        width: 133px;

        & > .separator {
            text-transform: lowercase;
            text-align: center;
            display: block;
            margin-top: 5px;
            font-size: 11px;
        }

        .quick-actions {
            margin-top: 5px;

            a {
                margin: 0 5px 5px;
            }
        }
    }

    .options {
        flex: 1;

        .tabs {
            .content {
                background-color: $character-panel-tabs-background;
                margin: 10px 0;
                padding: 0;
                border: 0;
            }

            .actions {
                display: flex;

                a {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    text-transform: none;
                    align-items: center;
                    padding: 5px auto;
                    margin: 0 5px;
                    font-size: 11px;

                    &:first-child {
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
