.pk-level {
    &-1 {
        color: $pk-level-hero-1;
    }

    &-2 {
        color: $pk-level-hero-2;
    }

    &-3 {
        color: $pk-level-commoner;
    }

    &-4 {
        color: $pk-level-phonoman-1;
    }

    &-5 {
        color: $pk-level-phonoman-2;
    }

    &-6 {
        color: $pk-level-murderer;
    }
}
